.body{
    font-family: Lato,'Helvetica Neue'
    ,Arial,Helvetica, sans-serif;
}
.right hr{
   margin:5px;
}
.grid{
    background: rgba(218, 218, 218, 0.95);
    margin: auto;
    margin-top: 100px;
    max-width:800px;
    min-width: 315px;
}
.left{
    display: inline-block;
    float: left;
    width: 65%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0, .75);
    box-sizing: border-box;
}
.right{
    display: inline-block;
    float: right;
    width:32%;
    padding-left:5px;
    padding-right:5px;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(0,0,0, .75);
}
.items{
    padding:15px;
}
.form{
    display: inline-flex;
    width:100%;
    height:37px;
}

.item{
    display: block;
}


.item_name{
    width:33%;
}
.title{
    display:inline-block;
    width:33%;

    padding: 2px;
}
.title_edit{
    display:none;
    width:33%;
    padding: 2px;

}
.item_count{
    display:inline-block;
    padding: 2px;
    horiz-align: center;
    vertical-align: top;
}
.label_count{
    display:inline-flex;
    width: 14px;
    height: 18px;

    color: rgba(81, 81, 81, 0.96);
    font-size: 13px;
    font-weight: bolder;
    background: rgba(232, 232, 232, 0.95);
    box-shadow: 2px 2px 8px rgba(0,0,0, .75);
    border-radius:2px;
    padding-left:7px;
    padding-top:2px;
    margin:auto;

}
.item_buying{
    display: inline-block;
    width:33%;
    padding: 2px;
    float: right;
}
.needed_purchases, .done_purchases{
    padding: 5px;
}
.element{
    display: inline-flex;
    margin-left: 5px;
    padding:5px;
    background: rgba(232, 232, 232, 0.95);
    border-radius: 4px;
    color: rgba(49, 49, 49, 0.96);
    border: 1px outset rgba(221, 162, 189, 0);
    box-shadow: 2px 2px 8px rgba(0,0,0, .75);
    margin-top:4px;
}
.circles{
    background: rgba(219, 96, 10, 0.9);
    color:white;
    font-size: 13px;
    border-radius:10px;
    width:18px;
    text-align: center;
}




/*   BADGE   */



.badge{
    position:fixed;
    bottom: -75px;
    left:0;
    opacity: 0.8;
    font-size: 1.5em;
    color:white;
    text-align: center;
    font-weight: bolder;
    background: blueviolet;
    width: 100px;
    height: 100px;
    padding:5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: bottom 1s ease, background 2s ease;

}
.created{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 0.6em;
    font-weight: lighter;
    text-align: left;
}
.me{
    font-size: 0.8em;
    padding-left: 10px;
    font-weight: lighter;
    text-align: left;
}

.badge:hover{
    bottom:0;
    background: rgba(12, 27, 164, 1);
}


/*  INPUT  */

.input{
    text-indent: 15px;
    font-size:0.9em;
    width: 80%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border:1px solid #dededf;
    border-right: none;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.75);
}
.input:hover{
    border: 2px dotted rgba(34, 28, 31, 0.16);
    box-shadow: 2px 2px 8px rgba(2, 2, 2, 0.62);
}
.input:focus{
    border: 1px solid rgba(41, 135, 205, 0.61);
    box-shadow: 0 0 10px rgba(41, 135, 205, 0.61);
}



/*  BUTTONS  */




.but_toAdd{
    color:white;
    background: rgba(90, 90, 180, 0.71);
    width:100px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border:1px solid rgba(147, 154, 255, 0);
    border-left: none;
    font-size:0.9em;
    font-weight: bold;
    box-shadow: 1px 1px 2px rgba(0,0,0, .75);
}
.but_toAdd:hover{
    background: #2c2c58;
    border:1px solid #2c2c58;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
}




.bl_toBuy{
     display:inline-block;
     float: right;
     height:25px;
     width: 65px;
     background-color: #f3f3f3;
     border:1px solid #f3f3f3;
     color: #5b5b5b;
     font-size:0.6em;
     border-radius: 2px;
     font-weight: bolder;
     box-shadow: 2px 2px 8px rgba(0,0,0, .75);
     margin-right:3px;
 }

.bl_toBuy:hover{
    background: #8f898b;
    border:1px solid #8f898b;
    box-shadow: 0 0 5px rgba(0,0,0, .75);
}
.bl_toUnBuy{
    display: none;
    float: right;
    height:25px;
    width: 80px;
    background-color: #f3f3f3;
    border:1px solid #f3f3f3;
    color: #5b5b5b;
    font-size:0.6em;
    border-radius: 2px;
    font-weight: bolder;
    box-shadow: 2px 2px 8px rgba(0,0,0, .75);
    margin-right:3px;
}

.bl_toUnBuy:hover{
    background: #8f898b;
    border:1px solid #8f898b;
    box-shadow: 0 0 5px rgba(0,0,0, .75);
}
.bl_delete{
    float: right;
    width:25px;
    height:25px;
    background-color: #d92b2f;
    border:1px solid #d92b2f;
    color: #fbeaeb;
    font-size:0.6em;
    border-radius: 2px;
    font-weight: bold;
    box-shadow: 2px 2px 8px rgba(0,0,0, .75);
    padding-top:1px;
}

.bl_delete:hover{
    background: #992932;
    border:1px solid #992932;
    box-shadow: 0 0 5px rgba(0,0,0, .75);
}



.but_plus{
    width:25px;
    height:25px;
    background-color: #7cc162;
    border:1px solid #7cc162;
    color: #e9ffdd;
    font-size:0.7em;
    border-radius: 12px;
    font-weight: bolder;
    box-shadow: 2px 2px 8px rgba(0,0,0, .75);
    padding-top:1px;
}
.but_plus:hover{
    background: #589149;
    border:1px solid #589149;
    box-shadow: 0 0 5px rgba(0,0,0, .75);
}

.but_minus{
    width:25px;
    height:25px;
    background-color: #ee9fa1;
    border:1px solid #ee9fa1;
    color: #fdf6f6;
    font-size:0.7em;
    border-radius: 12px;
    font-weight: bolder;
    box-shadow: 2px 2px 8px rgba(0,0,0, .75);
    padding-top:1px;
}
.but_minus:hover{
    background: #7a514b;
    border:1px solid #7a514b;
    box-shadow: 0  0 5px rgba(0,0,0, .75);
    text-align: center;
}
button{  /*not to have blue border*/
    outline: none;
}

/*  TOOLTIP  */

.tooltip{
    position: relative;
}
.tooltip::after {
    position: absolute;
    visibility: hidden;
    bottom: 5px;
    width: 0;

    content: attr(data-tooltip);
    transition: all 0.8s ease;
    z-index: 3;
    font-size: 0;
    left: 50%;

    opacity: 0;
    background-color: blueviolet;
    border-radius: 10px;
}
.tooltip:hover::after{
    left: 50%;
    margin-left: -48px;
    padding: 3px;
    width: 90px;
    opacity: 0.8;

    visibility: visible;
    font-weight: lighter;
    color: white;
    font-size: 11px;
    bottom: 110%;
    transition: all 1s ease;
}


/* MEDIA EVENTS  */
@media print {
    .badge_title{
        display: none;
    }
    .badge{
        font-size: 15px;
        font-weight: bolder;
        background:white;
        bottom:0;
        height: 35px;
        color: blueviolet;
        border: 2px solid blueviolet;
    }
}
@media (max-width:500px){
    .left{
        width:100%;

    }
    .right{
        width:100%;
        margin-left: 0;
        margin-top:10px;
    }
}

/*  FOR STATES OF BUYING  */
.hidden {
    visibility: hidden;
}
.crossed{
    text-decoration: line-through;
}
.none {
    display: none;
}
.visible{
    display: inline-block;
}


